name: upscalers

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'
  push:
    branches:
      - master
    paths:
      - upscalers/*

permissions:
  id-token: write
  pages: write

jobs:
  fetch:
    name: Fetch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-python@v5
        with:
          cache: pip
          python-version: '3.14'
          check-latest: true
          architecture: x64
      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt
          mkdir assets/
      - name: Fetch upscaler DLLs from dlss-swapper
        env:
          UPSCALERS_USER: ${{ github.repository_owner }}
          UPSCALERS_REPO: ${{ github.repository }}
          UPSCALERS_EVENT: ${{ github.event_name }}
        run: |
          python3 -m upscalers
      - uses: actions/upload-pages-artifact@v3
        id: deployment
        with:
          path: assets/

  deploy:
    name: Deploy
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: fetch
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
